# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

-ffunction-sections

*.eep

*.elf

bin/Release/loraSupervisor.fuse

*.hex

*.lock

*.lss

*.map

*.sig

sig.txt

*.layout

*.depend
